@import "../../../../assets/variables";

.intro {
    padding: 0 0 100px;

    .typeFilter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $gray;
        padding: 10px 0;

        li {
            cursor: pointer;
            padding: .2rem 2rem;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    &__item {
        &__title {
            text-align: center;
            @include title;
            margin: 50px 0 2rem;
        }

        .filterSelect {
            display: flex;
            gap: 10px;
            justify-content: flex-end;
            padding-bottom: 1rem;

            p {
                color: $gray;
            }

            select {
                border: 1px solid $gray;
                color: $black;
                padding: .1rem 1rem;
            }
        }

        .pagination {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .el {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $gray;
                font-weight: 600;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .intro {
        .typeFilter {
            padding: 1rem;
            justify-content: start;
            gap: 20px;

            li {
                border: 1px solid $black;
            }
        }

        .filterSelect {
            justify-content: center;
        }
    }
}

.btn {
    background-color: $black;
}

.act {
    background-color: $black;
    color: $white;
}