@import "../../../../assets/variables";

.intro {
    padding: 100px 0;

    &__item {
        &__title{
            text-align: center;
            @include title;
            margin: 0 0 2rem;
        }
        .pagination {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .el {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $gray;
                font-weight: 600;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}
@media only screen and (max-width: 991px){
    .intro{
        padding: 50px 0;
    }
}

.btn {
    background-color: $black;
}

.act {
    background-color: $black;
    color: $white;
}